a  {
  color: blueviolet;
  text-decoration: none;
}
a:hover {
  color: chocolate;
  /* font-size: 1rem; */
  text-decoration: underline;
}
a:visited {
  color: crimson;
}
a:active {
  color: blue;
}